./.gitignore
*.git
aws/*/terraform.tfstate
aws/*/terraform.tfstate.backup
aws/.terraform
aws/*/terraform.tfvars
aws/*/.terraform
aws/ec2-software-install/mykey
aws/ec2-software-install/mykey.pub
aws/*/mykey*
